body {
    margin: 0;
    padding: 0;
}

#map-canvas {
    position: relative;
    z-index: 2;
    width: 100%;
    height: 100%;
}

#street-view {
    position: absolute;
    z-index: 1;
    margin-left: 50%;
    width: 50%;
    height: 100%;
    top: 0;
    left: 0;
}

#map-control {
    margin: 3px;
    width: 20px;
    height: 20px;
    overflow: hidden;
    border-width: 1px;
    padding: 3px;
    background: rgba(240, 240, 240, 0.7);
    box-shadow: 0px 0px 18px 3px #999999;
}

#map-control-inner {
    width: 220px;
    height: 90px;
}

#zoom-label {
    width: 20px;
    height: 20px;
    margin: 3px;
    padding: 4px;
    font-size: 12pt;
    float: left;
    background-color: blue;
    color: white;
}

#about {
    margin: 5px;
    font-size: 10pt;
    padding: 5px;
}

#opacity-slider-div {
    margin: 5px;
    clear: both;
}

#opacity-slider {
    width: 200px;
}

#query-div {
    clear: both;
}

#query-text {
    margin: 5px;
    float: left;
    width: 150px;
}

#query-button {
    margin: 5px;
    float: left;
}

#authority {
    font-size: 5pt;
    width: 150px;
    background: rgba(240, 240, 240, 0.6);
}

.map-tile {
    position: relative;
    width: 256px;
    height: 256px;
}

.map-label {
    position: absolute;
    top: 0px;
    left: 0px;
    color: blue;
    background: white;
}
